<div class="titulo text-center">
    <h1>Homens mais ricos do mundo</h1>
</div>

<mat-form-field class="example-filter">
    <input matInput (keyup)="aplicarFiltroGlobal($event)" placeholder="Filtrar Globalmente">


</mat-form-field>


<mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let coluna of displayedColumns; let i = index" [matColumnDef]="coluna">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ coluna }}</mat-header-cell>
        <mat-cell *matCellDef="let row" class="mat-cell" style="color: black;">{{ row[coluna] }}</mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>